body, html {
  margin: 0;
  padding: 0;
}

/*---------Login--------*/
.loginDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 275px;
  border: 1px solid #efefef;
}

.loginDiv h1 {
  font-family: 'Pacifico', cursive;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 110px;
  justify-content: space-between;
}

.inputDiv button {
  background-color: #3897F0;
  color: white;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: .8em;
}

.inputDiv input {
  border: 1px solid #efefef;
  padding-left: 5px;
}

.inputDiv input, .inputDiv button {
  height: 30px;
  border-radius: 3px;

}
/*---------/Login--------*/
