body, html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/*---------Login--------*/
.mainLogin {
  background-color: #fafafa;
  height: 100vh;
}

.loginDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 275px;
  border: 1px solid #efefef;
  background-color: white;
}

.loginDiv h1 {
  font-family: 'Pacifico', cursive;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 110px;
  justify-content: space-between;
}

.inputDiv button {
  background-color: #3897F0;
  color: white;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: .8em;
}

.inputDiv input {
  border: 1px solid #efefef;
  padding-left: 5px;
}

.inputDiv input, .inputDiv button {
  height: 30px;
  border-radius: 3px;

}
/*---------/Login--------*/



/*---------Post--------*/
.postBox {
  width: 600px;
  margin-bottom: 100px;
  background-color: white;
  border: 1px solid #efefef;
}

.postBox img {
  width: 600px;
}

.postList {
    list-style: none;
}

.postUl {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  background-color: #fafafa;
  margin-top: 0;
  padding-top: 20px;
}
/*---------/Post--------*/


/*---------Comment--------*/

.commentUl {
  list-style: none;
  padding: 0;
}

.commenters {
  font-weight: 700;
  margin-right: 10px;
}

.commentBox{
  display: flex;
  align-items: center;
}

.commentBox p{
  margin: 6px 0 6px 0;
}

/*---------/Comment--------*/

/*-----------Navbar--------*/
.navMid li:nth-child(1) {
  font-size: 2.5em;
}
/*-----------/Navbar--------*/
