body, html {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/*---------Login--------*/
.mainLogin {
  /*height: 100vh;*/
}

.loginContainer {
  display: flex;
  justify-content: space-around;;
  align-items: center;
  background-color: #efefef;
  height: 100vh;
}

.loginContainer img{
  height: 850px;
}

.loginDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 275px;
  border: 1px solid #efefef;
  background-color: white;
}

.loginDiv h1 {
  font-family: 'Pacifico', cursive;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 110px;
  justify-content: space-between;
}

.inputDiv button {
  background-color: #3897F0;
  color: white;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: .8em;
}

.inputDiv button:hover {
  cursor: pointer;
}

.inputDiv button:focus {
  outline: none;
}

.inputDiv input {
  border: 1px solid #efefef;
  padding-left: 5px;
}

.inputDiv input, .inputDiv button {
  height: 30px;
  border-radius: 3px;

}
/*---------/Login--------*/



/*---------Post--------*/
.postBox {
  width: 600px;
  margin-bottom: 100px;
  background-color: white;
  border: 1px solid #efefef;
}

.postBox img {
  width: 600px;
}

.postBox p {
  margin-left: 20px;
}

.postList {
    list-style: none;
}

.postUl {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  background-color: #fafafa;
  margin-top: 0;
  padding-top: 20px;
}

.postImage {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}
/*---------/Post--------*/


/*---------Comment--------*/

.commentUl {
  list-style: none;
  padding: 0;
}

.commenters {
  font-weight: 700;
  margin-right: 10px;
}

.commentBox{
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.commentBox p{
  margin: 6px 0 6px 0;
}

/*---------/Comment--------*/



/*---------New Post--------*/
.uploadButton {
  font-size: 1.5em;
  font-weight: 300;
}

.uploadButton:focus {
  outline: none;
}

.changeButton:focus, .uploadButton:focus {
  outline: none;
}

/*---------/New Post--------*/



/*---------Navbar--------*/
.fa-sign-out {
  cursor: pointer;
}
/*---------/Navbar--------*/
