/*---------Comment--------*/

.posterName {
	font-weight: 700;
	font-size: 1.2em;
}
/*---------/Comment--------*/


/*---------Make Comment--------*/

.igSpriteHeartOpen {
	background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/e05e5e.png);
	background-repeat: no-repeat;
	background-position: -207px -229px;
	display: block;
	overflow: hidden;
	text-indent: 110%;
	white-space: nowrap;
	height: 24px;
	width: 24px;
	margin-left: -9px;
	margin-right: 3px;
	border: none;
}

.igSpriteHeartLike {
	background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/e05e5e.png);
	background-repeat: no-repeat;
	background-position: -276px -180px;
	display: block;
	overflow: hidden;
	text-indent: 110%;
	white-space: nowrap;
	height: 24px;
	width: 24px;
	margin-left: -9px;
	margin-right: 3px;
	border: none;
}

.igSpriteDots {
	background-image: url(//instagramstatic-a.akamaihd.net/h1/sprites/core/e05e5e.png);
	background-repeat: no-repeat;
	background-position: -308px -37px;
	background-color: transparent;
	border: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	text-indent: 110%;
	white-space: nowrap;
	height: 44px;
	width: 44px;
/*	margin-left: 5px;
	margin-right: -10px;*/
}

.commentCreate {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-top: 1px solid #FAFAFA;
	justify-content: center;
	flex-shrink: 0;
	margin-top: 13px;
	min-height: 68px;
}

.commentInput {
	background: 0;
	border: none;
	color: #262626;
	outline: none;
	width: 80%;

}

.commentSubmit {
	background-color: transparent;
	height: 68px;
	width: 68px;
	border: none;
	border-left: 1px solid #FAFAFA;
	color: #A9A9B4;
}
/*---------/Make Comment--------*/



/*---------Profile Grid--------*/

.postGrid {
	background-color: #FAFAFA;
	width: 960px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
}

.profileImgDiv img {
	width: 275px;
	height: 275px;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.postGridDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FAFAFA;
}

/*---------/Profile Grid--------*/
























