.navMid{
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid #efefef;
  list-style: none;
  align-items: center;
  height: 80px;
  margin: 0;
  padding-left: 0;
}

.navMid li a{
  text-decoration: none;
}

.navMid .brand a{
    color: #262626;
    margin-left: 200px;
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
}

.navMid li{
    color: grey;
    /*margin-right: 200px;*/
}

.navMid li a{
    color: grey;
}

.navlist {
  display: flex;
  width: 250px;
  justify-content: space-between;
  margin-right: 200px;
}
