.navMid{
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid #efefef;
  list-style: none;
  align-items: center;
  height: 80px;
  margin: 0;
  padding-left: 0;
}

.navMid li a{
  text-decoration: none;
}

.navMid .brand a{
    color: #262626;
    margin-left: 200px;
    font-family: 'Pacifico', cursive;
    font-size: 2.5em;
}

.navMid li{
    color: grey;
    /*margin-right: 200px;*/
}

.navMid li a{
    color: grey;
    font-size: 1.5em;
}

.navlist {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-right: 200px;
}

/*--------New Post CSS---------*/

.image-chooser{
  display: none;
}

.newPostForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newPostPage{
  height: 90vh;
  display:flex;
  justify-content: center;
  background-color: #fafafa;
}

.uploadButton{
  background-color: #3897F0;
  color: white;
  height: 100px;
  width: 150px;
  border-radius: 4px;
  border: none;
}

.submitButtons{
  display: flex;
  width: 400px;
  height: 100px;
  margin-top: 20px;
  justify-content: space-between;
}

.changeButton{
  width: 150px;
  height: 40px;
  border: none;
  background-color: #f24646;
  border-radius: 4px;
  color: white;
  font-size: 15px;
}

.postButton{
  width: 150px;
  height: 40px;
  background-color: #3897F0;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 15px;

}

.post-img{
  width: 600px;
  margin-top: 25px;
}

#caption-input{
  width: 600px;
  height: 60px;
  font-size: 20px;
  margin-top: 20px;
}
