.navMid{
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid #efefef;
  list-style: none;
  align-items: center;
  height: 80px;
  margin: 0;
  padding-left: 0;
}

.navMid li a{
  text-decoration: none;
}

.navMid li:nth-child(1) a {
    color: black;
    margin-left: 200px;
    font-family: 'Pacifico', cursive;
}

.navMid li:nth-child(2) a{
    color: grey;
    margin-right: 200px;
}
